<!-- Comonents partial for landing page -->


<div class="container" style="background-color: transparent !important">
  <div class="card-group postion-relative" style="margin-top: 50px;">
  <div class="card rounded shadow border" style="margin: 10px; border-color: #969696 !important;">
    <img class="card-img-top border-bottom" src="https://lh3.googleusercontent.com/l-qYgboZiyk3JsaWynFx22cTBe_AqA0D3k76BFilgCRD-xBNr0zWp9lyIYDJ6dc9oBHlD5VJfpE6UQJbeY1Cwoem7vprEbdq9LGMXCskFmUAQv8O_WX4x6ITVeUp342R6LSF2sH9JveSdKEUxjIq1fjk_MrGzH1A4SfBVnvrTPRxoHdRsbZOXar9YfED1c7RjrHRaG1FXY4ANk72i_CddzhuqjFJU8v4tibPKf8Kxgpuj16NdVpFdCNCtiiahvgb6PbHbYp0Vcg5NmGnFud-UaB5hjgyfQRSeFOrwZjs6f27wJS4Iztthf3s_EefC2GV6eDpeN4Bx_LO40I5JlicAUblFtOBOhihXKZfeF7r-lmymPgsR_QRmvECPZfvftOQWiXapQvPSzyoNelFuKGY3WcOBnwbAMookYGTePP_FDs7-JlSovPwiqRWM80Oezktgfc-v4oIhZ6VqN7FGklZZcZcDzehDyF6wO-DWXBdbuuZVItmPLP1NhH0DCQTfmebs12u8S-QDEIHyZlinRURCRlraB9NP5eQwCSVAnF7u18kRdMnLyBd_Oy_ekJIGNVdQAL6dS-aog7Y3MTLF3q7Mdj7A5JHAgMG-g=w800-h600-no" alt="components_cap" style="height: 250px; width:348px; border-color: #969696">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25">Components</h5>
      <p class="card-text"><hr class="my-4">Visit to know to the components we've used and their detailed specs.</p>
    </div>
    <div class="card-footer">
      <span class="text-muted"><a href="/components"><button class="btn btn-info" type="button">View</button></a></span>
    </div>
  </div>
  <div class="card rounded shadow border" style="margin: 10px; border-color: #969696 !important;">
    <img class="card-img-top border-bottom" src="https://lh3.googleusercontent.com/JcWxpD-a66So343WZTBUWYNz00vXbvXGK4eS5dNNoDt2CO6AeFo3AKj4QuMxPIgzB-iYSFIJosEh4wsAKpYoXHr2bYQVTqdyAh9Z2jXqe6GLOeVa4zUa_Y_eEyu6JlKKaBbqZZZ-Tjkj-RbrIA41zrCT0mDNXMR_w62S_dEvppuzmTRZceupS77ApyyM6C1BeGksi1OG4ZNhdtS2hc6fj-31nemFaYDVtrK7mLA6w1Ig86eCGi8wugMTmxd73uM1bUN9z6SgQGR0oYyNQbd2Qu7Mg39rL7th4XsghDTp0_x5hv7k3SZf7QEOaEG8yoNTuHmMyusLmEEJbRNVffGnlalDYpZVRdN4w2nB3A5dCvNUWY7Wqs7vvq0-znhKgcla62gJEI7XUSLXEQGqdJGKuHvi4MnhiC-saLktTwDOVP5CH_4JKDwJcNnc7AxKpgDpZ0Gl9dkzEY1AQvG4lq7LmhNqsD-G-p8u1udTQ5Y-5bycOyuJpf98dR8OeG-oXsUZo5B7Ao7g1FVa0i524_TeyxwB0VmiZ8av8LkG0GdNYdrkzeaTFj8ulCmkYHViazHLD6I30_I5N_LI5WXi8C7WeSFrc_SOsn8G7g=w630-h486-no" alt="logs_cap" style="height: 250px; width:348px; border-color: #969696">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25">Logs</h5>
      <p class="card-text"><hr class="my-4">See our journey of making our own Quadcopter.</p>
    </div>
    <div class="card-footer">
      <span class="text-muted"><a href="/logs"><button class="btn btn-info" type="button">View</button></a></span>
    </div>
  </div>
  <div class="card rounded shadow border" style="margin: 10px; border-color: #969696 !important;">
    <img class="card-img-top border-bottom" src="https://lh3.googleusercontent.com/WOu9y80WpbelGqR_BO8B5z0ipef_jLbiVoLX4GoswESYUF3b8TA5tvuKT0C0YjKIQOq3EllV1ehquMkF_5tPtY4NDWgP_HZtQ9sQ5ydreXzAiTuURGpqG6u0x8FPUbuuFtuUOtBcWNQfqeTVuRABt_hUD3XdDdN0Sw7OS7_r6R5sGoWXjU72iK4IjAKdbiz289JztZMsHx5c2uqnd8YRYhQIrayHI6C1HKr88HDI4BKTv9DdvcQeikK_rPDf3IX_jPUiJqUxQ4mwrO1PVNg0lOapqVMuWVjN4OdNm5a5-OAH14doa9U9NZU55-cqagvZPj7h7AvrWnNe8aMnjs1LFVnJbvmgxdxo2FdEVzPgxhQH5rzgEyk9oMVxWkS4YE5jy6F26R2z_5zO5cgJYat9DAfCHdx3UKVWU7ZfQU05EmPYujYMsFjJcIutiR5mgGRAODuHaM-ZMS85agHc-ExIBIOOYVuJdzKwRb0xQtm_r8p2GqjkluRwUWGlfZ9RcL6-VjI4WGEOHnGgesFvPWR_8IvlRFEuA-J89N7rBNkSW7sSyTUCwCQOWJVE0MVKv8rCGSZIojLvb6vP08IN1ZjhoBwZ-lvvBgg8Fw=w256-h193-no" alt="resources_cap"  style="height: 250px; width:348px; border-color: #969696">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 25">Resources</h5>
      <p class="card-text"><hr class="my-4">See various resources over the internet which we have referred to for information.</p>
    </div>
    <div class="card-footer">
      <span class="text-muted"><a href="/resources"><button class="btn btn-info" type="button">View</button></a></span>
    </div>
  </div>
</div>
</div>
