<!-- footer for Quadcopter web -->

    <!-- <div class="footer"> -->
        <!-- <div class="jumbotron shadow-lg border fixed bottom" align="center" style="bottom: 0px !important;
                                                  left: 0px;
                                                  right: 0px;
                                                  margin-bottom: 0px;
                                                  height: 80px;
                                                  padding-top: 0px;
                                                  border-color:#969696 !important;"> -->
      <div class="border-top" style = "background: linear-gradient(#001042, black); color: white; height: 300px; border-color: #aae7ff;">
        <div class="container" align="center" style="margin-top: 30px;">
          <h4 style="padding-top: 0px !important;">@Quadcopter Web</h4>
          <button href="" class="btn btn-dark" onclick="window.open('https://newsapi.org/', '_blank')" type="button" style="border-color: transparent !important; background-color: transparent !important;"><h6 class="text text-muted" style="margin-bottom:10px; color: rgba(255, 255, 255, 0.3) !important; border-color:  !important;">Powered by @NewsAPI</h6></button>
        </div>
        <hr class="my-4" style="background-color: rgba(255, 255, 255, 0.4) !important; width: 90%; height: 0.08">
        <!-- </div> -->
        <div class="conatiner" align="center">
          <a rel="license" href="#" onclick="window.open('http://creativecommons.org/licenses/by-nc-sa/4.0/', '_blank')"><img alt="Creative Commons License" style="border-width:0; margin-bottom: 10px;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="#" onclick="window.open('http://creativecommons.org/licenses/by-nc-sa/4.0/', '_blank')">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </div>
      </div>
    </body>
  </html>
