<!-- Members info partials -->

<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">

<style media="screen">
  .backgroundMember{
    background: linear-gradient(#0050bc, #00214f);
  }
</style>

<div class="backgroundMember" id="meetCreator" style="margin-bottom: 0px !important;">

  <div class="container" align="center">
    <div class="container">
      <h1 style="color: #0050bc !important">hi</h1>
    </div>
    <div class="jumbotron rounded shadow-lg fadeIn" style="width: 80%; opacity:0; margin-top: 100px;">
      <h1 class="Display-4" style="font-weight: 200 !important; color: #00356b !important ; font-family: Gaegu !important">Meet the Creators</h1>
      <hr class="my-4">
      <h1 class="Display-3" style="font-weight: 200 !important; color: #00356b !important ; font-family: Gaegu !important">of this Project</h1>
    </div>
  </div>

  <!-- members cards -->
  <div class="container" >
    <!-- <div class="jumbotron rounded shadow" style="background-color: rgba(0, 23, 56, 0.3); padding-top: 80px;"> -->
      <div class="card-deck">
        <div class="card bg-dark text-white shadow" align="center" style=" margin-top: 120px;">
          <img class="card-img-top rounded-circle border border-light" src="https://kodi.tv/sites/default/files/addon-icons/DefaultAddonPicture.png" alt="Card image cap" align="center" style="width: 360px; height:360px; margin: 15px; border-width: 3 !important;">
          <div class="card-body">
            <h2 class="card-title" style="font-family: Gaegu">Vedant Nandoskar</h2>
            <p class="card-text"></p>
          </div>
          <div class="card-footer" style="background-color: #5b5b5b !important;">
            <small class="text-muted" style="color: #d3d3d3 !important; font-family: Gaegu"><h5>Write something!</h5></small>
          </div>
        </div>
        <div class="card bg-dark text-white shadow" align="center" style=" margin-top: 120px;">
          <img class="card-img-top rounded-circle border border-light" src="https://kodi.tv/sites/default/files/addon-icons/DefaultAddonPicture.png" alt="Card image cap" align="center" style="width: 360px; height:360px; margin: 15px; border-width: 3 !important;">
          <div class="card-body">
            <h2 class="card-title" style="font-family: Gaegu">Rishi Pandya</h2>
            <p class="card-text"></p>
          </div>
          <div class="card-footer" style="background-color: #5b5b5b !important;">
            <small class="text-muted" style="color: #d3d3d3 !important; font-family: Gaegu"><h5>Write something!</h5></small>
          </div>
        </div>
      </div>
      <div class="card-deck" style=" margin-top: 30px;">
        <div class="card bg-dark text-white shadow" align="center">
          <img class="card-img-top rounded-circle border border-light" src="https://kodi.tv/sites/default/files/addon-icons/DefaultAddonPicture.png" alt="Card image cap" align="center" style="width: 360px; height:360px; margin: 15px; border-width: 3 !important;">
          <div class="card-body">
            <h2 class="card-title" style="font-family: Gaegu">Devesh Bhangale</h2>
            <p class="card-text"></p>
          </div>
          <div class="card-footer" style="background-color: #5b5b5b !important;">
            <small class="text-muted" style="color: #d3d3d3 !important; font-family: Gaegu"><h5>Write something!</h5></small>
          </div>
        </div>
        <div class="card bg-dark text-white shadow" align="center">
          <img class="card-img-top rounded-circle border border-light" src="https://kodi.tv/sites/default/files/addon-icons/DefaultAddonPicture.png" alt="Card image cap" align="center" style="width: 360px; height:360px; margin: 15px; border-width: 3 !important;">
          <div class="card-body">
            <h2 class="card-title" style="font-family: Gaegu">Ankit Katre</h2>
            <p class="card-text"></p>
          </div>
          <div class="card-footer" style="background-color: #5b5b5b !important;">
            <small class="text-muted" style="color: #d3d3d3 !important; font-family: Gaegu"><h5>Write something!</h5></small>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>

  <!-- Shit just to make some space -->
  <div style="visibility: hidden;">
    It starts here
    <% for(var i=0; i<7; i++){ %>
        <h5>tptptp</h5>
    <% } %>
  </div>

</div>
