<!-- This is the landing page -->

<!-- google font: -->
<link href="https://fonts.googleapis.com/css?family=Short+Stack" rel="stylesheet">

<!-- Bootstrap link  -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->

<!-- jQuery link -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<% include \Quadcopter-Project\Quadcopter_web\views\partials\header %>

 <!-- id="navbarTwo" -->
<!-- A scrollspy navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom shadow-lg sticky-top border py-0" style=" background-color: #efefef !important; border-color:#969696 !important;">
  <a class="navbar-brand" href="#getStarted"><h5 class="text text-muted fadeIn" style=" color: #515151 !important; font-family: Short Stack; font-weight: bold !important; margin-left: 50px; font-size: 25 !important; opacity: 0; margin-top:10px;">Welcome!</h5></a>
  <button class="navbar-toggler"  style="background-color: #dbdbdb !important" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon rounded"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav py-0">
        <li class="nav-item">
          <a class="nav-link py-0" href="#getStarted"><button class="btn btn-link btn-sm" type="button" style="color: #515151 !important;"><h6 class="fadeIn" style="margin-top:5px; font-family: Short Stack; font-weight: 700 !important; opacity: 0;">Get Started</h6></button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="#whatWhy" style="background-color: transparent;"><button class="btn btn-link btn-sm" type="button" style="color: #515151 !important;"><h6 class="fadeIn" style="margin-top:5px; font-family: Short Stack; opacity: 0; font-weight: 700 !important;">What is it?</h6></button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="#howItsDone" style="background-color: transparent;"><button class="btn btn-link btn-sm" type="button" style="color: #515151 !important;"><h6 class="fadeIn" style="margin-top:5px; font-family: Short Stack; opacity: 0; font-weight: 700 !important;">How it's done</h6></button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="#meetCreator" style="background-color: transparent;"><button class="btn btn-link btn-sm" type="button" style="color: #515151 !important;"><h6 class="fadeIn" style="margin-top:5px; font-family: Short Stack; opacity: 0; font-weight: 700 !important;">Meet Us</h6></button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="/news"><button class="btn btn-info btn-sm" type="button" ><h6 class="fadeIn" style="margin-top:5px; font-family: Short Stack; font-weight: 700 !important; opacity:0">News</h6></button></a>
        </li>
      </ul>
  </div>
</nav>

  <!-- Script for highlighting the scrollspy -->
  <script type="text/javascript">
    //code for hover effect
    $("div").hover(function () {
      $(".btn-link").css("background-color", "transparent");
    })
    $(".btn-link").hover(function () {
      $(".btn-link").css("background-color", "transparent");
      $(this).css("background-color", "#e0e0e0");
    });
    //code for click  effect
    $('.btn-link').on('click', function () {
      $(".btn-link").css("background-color", "transparent");
      $(this).css("background-color", "#e0e0e0");
    });
    //code for default colors
    $('#logoImg').on('click', function () {
      $(".btn-link").css("background-color", "transparent");
    });
    $('#homeLink').on('click', function () {
      $(".btn-link").css("background-color", "transparent");
    });

  </script>

<!-- PAGE CONTENTS -->
<div data-spy="scroll" data-target="#navbarTwo" data-offset="0">
  <!--DIV-1 : PAGE 1-->
  <div class="backgroundImg" id="getStarted">
    <div class="container">
      <div class="jumbotron rounded border border-dark shadow-lg fadeIn" align="center" style="margin: 10px; border-color:#969696 !important; opacity:0">
        <h2 class="Display-2"><strong>The Quadcopter Web</strong></h2>
        <p>
          <hr class="my-4">
          <p class=" Display-5 text text-muted" style="font-size:25;"> A place where everything needed to learn and build a quadcopter is available. </p>
        </p>
      </div>
    </div>
    <!-- Shit just to make some space -->
    <div style="visibility: hidden">
      <% for(var i=0; i<5; i++){ %>
        <p>
          <h5>tptptp</h5>
        </p>
        <p>
          hi
        </p>
      <% } %>
    </div>
  </div>

  <!-- DIV TWO: PAGE 2 -->
  <div class="backgroundImgTwo" id="whatWhy">
    <div class="container">
      <div class="jumbotron rounded border border-dark shadow-lg fadeIn" align="center" style="margin: 10px; opacity:0; border-color:#969696 !important">
        <h3 class="Display-3">What is a Quadcopter?</h3>
      </div>
    </div>
    <!-- include components partial -->
    <% include \Quadcopter-Project\Quadcopter_web\views\partials\intro_partials %>
    <!-- Shit just to make some space -->
    <div style="visibility: hidden;">
      <!-- It starts here -->
      <% for(var i=0; i<1; i++){ %>
          <h5>tptptp</h5>
      <% } %>
    </div>
  </div>

  <!-- DIV THREE: PAGE 3 -->
  <div class="backgroundImgThree" id="howItsDone">
    <div class="container">
      <div class="jumbotron rounded border border-dark shadow-lg fadeIn" align="center" style="margin: 10px; opacity:0; border-color:#969696 !important">
        <h3 class="Display-3">How it's done</h3>
      </div>
    </div>
    <!-- include components partial -->
    <% include \Quadcopter-Project\Quadcopter_web\views\partials\components_partial %>
    <!-- Shit just to make some space -->
    <div style="visibility: hidden;">
      It starts here
      <% for(var i=0; i<1; i++){ %>
          <h5>tptptp</h5>
      <% } %>
    </div>
  </div>

</div>

<div class="" style="background-color: #002c68 !important;">
  <!-- include members info partial -->
  <% include \Quadcopter-Project\Quadcopter_web\views\partials\membersPartial %>
</div>

<!-- include footer partial -->
<% include \Quadcopter-Project\Quadcopter_web\views\partials\footer %>
