<!-- This is the logs main page -->


<!-- Bootstrap link  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- jQuery link -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<% include \Quadcopter-Project\Quadcopter_web\views\partials\header %>

<div class="backgroundLogs p-3 mb-2 bg-gradient-primary" style="background: linear-gradient(#7f7fd5, #86a8e7, #91eae4, #86a8e7, #7f7fd5); margin-bottom: 0px !important;">
  <div class="container" style="width:60%">
    <div class="jumbotron rounded border border-dark shadow-lg fadeIn" align="center" style="margin-top: 10px; opacity:0; border-color:#969696 !important;">
      <h2 class="Display-3">Logs</h2>
      <hr class="my-4">
        <p>
          <span class="text text-muted" style="font-size: 25;">Welcome to the logs page.</span>
        </p>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron" style="background-color:rgba(255,  255, 255, 0.5); margin-top: 100px;">
      <div class="container">
        <!-- <div class="jumbotron"> -->
          <span align="center"><h1 style=" font-size:50; font-weight: 200; color: #150060 !important;">See our journey of building a quadcopter step by step.</h1></span>
          <hr class="my-4">
          <!-- /////////////accordion -->
          <div class="accordion" id="accordionExample">
            <div class="card shadow rounded" style="margin-top: 40px;">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-light" style=" background-color: #5555fc !important" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5 style="color: white !important; margin-top: 4px; text-align: justify !important;">September</h5>
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body" style="color: #190487 !important">
                  <ul style="font-size: 20; text-align: justify; margin-right: 30px;">
                    <!-- Decided and Researched -->
                    <li style="margin-top: 40px;">
                      <h3>Decided to build a Quadcopter and researched about it</h3>
                      <span style="font-size:18; color: #6d6d6d !important">9th September</span>
                      <hr>
                      <ul>
                        <li>Four people of similar interest came together and thought of building  a quadcopter as their first year project and modify it in our higher semesters.</li>
                      </ul>
                    </li>
                    <li style="margin-top: 40px;">
                      <h3>Researching about the Quadcopter</h3>
                      <span style="font-size:18; color: #6d6d6d !important">11th September - 18th September</span>
                      <hr>
                      <ul>
                        <li>We had limited knowledge about building a Quadcopter so we searched the internet for a week about the physics behind its flight, different components required and how they work together, and ultimately how to build one. </li>
                        <li>A few of the good sources that we found useful are <a style="color: #6b6b6b !important" href="/resources#headingThree">here</a>.</li>
                      </ul>
                    </li>
                    <li style="margin-top: 40px;">
                      <h3>Buying the components</h3>
                      <span style="font-size:18; color: #6d6d6d !important">20th September</span>
                      <hr>
                      <ul>
                        <li>We first explored online regarding the components on websites like amazon, ebay, hobbyking, etc. We got a rough estimate of the total cost of the project if we buy the components online.</li>
                        <li>Then we checked the same components at local market and as the prices were almost similar than what we calculated online, so we bought them. Also we needed to start the project as soon as possible and online delivery would take 12-15 days, we decided to buy them offline.</li>
                        <li>The link to the components page is <a style="color: #6b6b6b !important" href="/components">here</a>.</li>
                      </ul>
                    </li>
                    <li style="margin-top: 40px;">
                      <h3>Starting to assemble the Quadcopter</h3>
                      <span style="font-size:18; color: #6d6d6d !important">26th September</span>
                      <hr>
                      <ul>
                        <li>We first started by making the solder bases on each of the wire terminals on the distribution board of the frame.</li>
                        <img src="https://lh3.googleusercontent.com/Z4z50nYTwtbYgcawBPExYFmuXErdvOqqB8PjN7UXNHdw9Cw2Bk3UIKZ5tzgUgPtQLfjTdy0aTyfPnpNyiQdQM6lpN05UcASHoCkuHlsJfe8vXuRXRW55Mo8-hKcGsJqzuLlhayUq-drNNlU72xeKnKX8weUu1DQh14Ks5IDG-MNbWVoS9K4xQ2KydYVbBELNJ1CxKqOFAFQHOWGIljnizaEDSh_OZh6DeSXHTrky_wJvTuDelkrwFKhJvhVQf-unXfUA-oHaV0oi9JoRflBCFWq7P9zOjBOBQL0sMeNAk9wJU5zISdbQ8LbKQLTOGvoEPaGQlwkTX80X4OXpvn0wD0yqNyGd0nxAw-C9EfRFcWTbIfTpyWIxLQ6b5s_bV8DerqbvTI2NDt7NfDSgar5B-MeYpAj-442E87VX0Pz4rFStEjEi4BoEukgxMAO_12duyZB8E2Ymu98om-BvvxD0evL2WBfVH7oB5S41V_pRW2SbGSHKbG8srHasUR7-tZBANxhQFRsZt7t4c7Racr_4mEKHzZReSuu_QEs4v2djvTNN3z6XCK1KZtKNRGigNkLDwWcl-fRmYhADGOXPlUuSWyLCqBf47GILTw=w687-h915-no" alt="" style="height: 60%; width: 50%">
                        <li>Then we connected the distribution board to the arms of the quadcopter and thus our frame was assembled.</li>
                        <img src="https://lh3.googleusercontent.com/9aDECWq2Zfa5KF-DdFZ7XyHmP0pFC6tXdK4yHf2h4sDlsuImOP1lrNkK_NNnxk6oLeCT4wdmILdsqC9IFX6QVl_l1t2D8Axp-VphuXqtAuY010VCKYvQX7QZRTWhL0MjObpcIxSGfQYh-NgrwEd7jWr0yT09SjP64nZb4CBD1Vb9g7DmlCTGodt1OAQ8LlXe0w0mPjK4zWbNF8pvEIowc4tOtX2DbUQnDOnnaoAxEmzRknaIymXErd3Q9mR1kqdDUrJxGLzCCN4aXktiQ9YY-YFlg1d6jQ-bAg8B21Zy79WT-bMyNr-w1gF0PokaEgVpuGKlg6MnPNuYBD-EgkIzMhbnZe7nNKIYBhvVweHny0jHfkz_Y-PxOTPca8CQi6VB6OLtDcdAVU2eKfWeIUVrmXbL4Hlb5DkFSI-c1akPghYWbJvjnNi5MuMzQFRYO-WsltbwVTp8atZfhTTYxMsqfLZ809pYJhvN8-T6p9sIBjG3bMBSAMfhPWia0zi2SBKcnoA9I5KUkey9Jpa3YdzXouBwJouCoicXqguEwEPB0sBJsQmDcMxxrLO59fMSJu3xZoSu0gsU0kO1o2gkt8YCrr60T8ShG0AAxg=w1220-h915-no" alt="" style="height: 50%; width: 50%">
                        <li>Next we cut out the male pins from the four esc's and connected one to the power terminal on the power distribution board.</li>
                        <img src="https://lh3.googleusercontent.com/GASa4o0KyNrBSXY3smRV_ZUZsOya-W01E7uihRpY-KeWpcpuLMQoXvbTZFUVYJCwEbYIkE7AdJDQiOVShh-n4shR3_ce7_01GbXndx4eR_lDuE8Z5ejdA8087mjHHUtQWzpIucKEUychebgSfO3u-dRSNENwKT5dAbAhP3JEOdmQ7SwCbnH49Qo7AbOYPtKcviUen4tvRatrsOK2G9XDNLmn1UOb5LnxB0JV4vowaJGDsakJRJn_aqBNK8nMyTEzh5FeOO9tOL1gwULv3h3xG5M7j4_V05mdMh5v5_bTJf5ElO66LlGVWe6EocMpdTMzzuaIB-S29Cg_nzy92hJTiG1t6riOH3OgZ5pb3TbO576cv1XK6oYvbC0sevg73zLoqIQ3Od1sGej-H898PrQH_M1leD4Z5utlU7WyAmbm-jPB5pjp4dB7F6dFnfmCXB-RnA2k9e0LR4ij5x7QuuG7jZOX7yQKl-9vaHi0NhnqID6oshLWmuJAmvmF_4YofKOTRJ813M6IujI3M9g__tWpPcqnnSmr37FQ1kqcchL5kQKqVRsxDUl9Afz0oncroQFbVw3dzC49GwSfC1LNq6HHZ-FzxkuF-TK2rQ=w687-h915-no" alt="" style="height: 60%; width: 50%">
                        <li>We soldered the bare wires of the esc's on each of the arm terminals on the power distribution board. We then taped the esc's firmly to the frame, so that they do not hang loose and thus get damaged during use.</li>
                        <img src="https://lh3.googleusercontent.com/vFkSPTe267xkzLDe6QMXL2rNds6TIiFYPBe9Lyll-pV79UJgBC-MQtmEDYl51CAO4uOCdgmFskOQxQXLDh1P6B_VY7rAP86L65KJ5W_OcvNpDYFjqbYa_eT1CxuvL8JAp_oqu63SUdZGSrwx2GeviCbWKmCe_iOG_uq-9E-eDZMx6HB0VpgreFhaRaJh2s7Y0h_Oekh76nsxqQSi3DL56hUD63OEtLSg9333UDnZ9E0V_Bb15oAa-NBIfOpg98LzjVkwVRrlyAZWM1NjIk5jcWJWnYFbE7MSD3A5EuiY27iy0Jveb_P23mXAUlY5XkV25r_n4_0naXKeIReb7Qne0lMblhZEMTjBpDed6rgYirDWI5boOsAq-FKZVacrkNYS_9WcdU1lZOzlHjkBBZyy1h1-_15FHIXIsmoP0ZuMhil_L0oxs-s3khtk1RT_Nvd3RgX56bCD2tTJSCCcLtKqJy31_ZVi3UNELgjAZUcgWgdY4DR6lNMfuV71UryPQl2hhd6_YBUnxkPLzdamB26zr3_Simj4YqJAOrDCCvRGhbeFjN6HOdq3vvimy8dKgsO9227WRwpyjmaZ6gfJIbUdnyjs8Me3sNUe_A=w687-h915-no" alt="" style="height: 60%; width:50%">
                        <li>Proceeding, we fixed the motors on the arm ends with screws (they are provided with the motors). Then we connected the motor wires to the appropriate wires of the esc's ( the yellow wire of the motor should be connected to the middle wire of the esc).</li>
                        <img src="https://lh3.googleusercontent.com/VahmFO-SayMiCjQxY91TmikNmKYCf3XwjBu62ahInmo1FKgOAEea6LUVO6JcMV1xezRQkU94cs93-DP61KuQ37GQYJlen_-VrYtmDsbgUNDJaJvEWPAO1rPKXbno8vitXKJjeZ8fr-8ITHZWhlXg65it3TCASl0DMATB_IRBkZTReuj8ANBros5hV4wzk6vgKHzYHAEuJta1t0yjX6eO9ekNpcPRFLm-KvrgCleU9IgbK2f72FbeXrTceAn2KWHxhR-gsawzPdkydqP0JuZ6kEYNJe7T-y3mnxhRFk3KeEHMizPW_OtePFLNSb2UTl_n3ihakBS5KtlsgK9iRl2V7PCLySetkobxNPq0QgVJf64_j_4VREB98x32TtGi8ooUdAiHinDAMj3MjhjcJV1OlwJ7xB7XVWgjeCXzhQdIf1vMGcO1FXebCNoUpT-ViMsHOibqGRa_Bc4UaemkQDRiWStHR6ecHvY4ggq_4fbAcaDcElr6C43Z0CMfkbTLQzlTaisSVyGHaFnKg5gGelSI_JqVozLZhIZS5gMCkmkoxKa83ExIFUASNnQ-BcyrnMWIAE4ua6sdiIEH1YepyqC_igLbQJ84Oup4og=w687-h915-no" alt="" style="height: 50%; width: 40%">
                        <img src="https://lh3.googleusercontent.com/VYOuupMygwLTsO4azA8gyRoiNJqsi44NcLp3GfyKsm3ufi4VdVbN06iBxBnYeoIg5Oi7I7PPH5ObhuhDVkiBk3jLrwkXSU-j1HFkd-n6arLzQfJUZmVopUTrRpK9jPh6jCqW2Zh8SLG0ybTLAbjMIkrc04pKNn1LIMINi3ieZv8qiQsNW1KWIrbi06x-7lpxMSZpj7RldVK_iBIoZgSQ2fcbxj8_uKipaaloP6sQIUVrJjRUSlMJm9GBtysWPPJTxuj6r-mjtp44Mnz1bzS8lDbSxyhJy6SN9BjCuU3A6mQVo_qOkV0dRBdU24IjuICzZB0Ck-wpDUpLJpeXJc-BcMoZuPFZkUxTiVZ-pyOJJ3aTekhhXPBraCg3KR-adFO_HLX2mxqeXBpt_iFDREgCVAl6yZUdg-fc4TQJlGi69BkOD1J3oAwsC-0jDEwu1PJTkRR4QWLgiL7S1P7Z8FcBzjIPy3YO8BqM0zmEKYqemrbJRN_NYdJSdFFqplUmRAhM8-mzgdE03dQDc4aHDZiFIqH85Mtx9Kxij41TrLP8bwp7_TL0irbpk1YWLhtnw2slblHbv5DTL0ilQlFrrKNdfHQkNB3HDVSgOA=w1220-h915-no" alt="" style="height: 50%; width: 40%">
                        <li>After we were done with connecting all four motors, we then checked if all the motors spin in the desired direction as per the picture shown below.</li>
                        <img src="http://i.imgur.com/m2JZO3y.png" style="margin: 30px; height: 600px; width: 600px;" alt="">
                        <p>( If a motor spins in the opposite direction just interchange the red and black wires of the motor with the esc wires.)</p>
                        <li>Then we connected the propellers to the respective motors ( clockwise propeller for clockwise motor and similar for counter-clockwise). To identify which propeller has what spin direction, the sloping side of the propeller need to spin against the direction desired.</li>
                        <img src="https://img.rcgroups.com/http://www.pyramidmodels.com/shop/shopimages/props%20rotation.jpg?h=3uElcgbkpNlaX_XYEYXF-A" style="margin: 30px; height: 500px; width: 600px;" alt="">
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card shadow rounded" style="margin-top: 40px; background-color: white !important">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-light collapsed" style="background-color: #5555fc !important;" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5 style=" margin-top: 4px; color: white !important; text-align: justify !important;">October</h5>
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body" style="color: #190487 !important;  background-color: white !important">
                  <ul>
                    <li style="margin-top: 40px;">
                      <h3>Working with the KK Mini 2.1.x</h3>
                      <span style="font-size:18 !important; color: #6d6d6d !important">7th October</span>
                      <hr>
                      <ul>
                        <p style="font-size: 20 !important; margin-bottom: 8px;">
                          *KK Mini is the main processor or the brain of the quadcopter. Therefore, it should be handled very cautiously.*
                        </p>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">Fix the KK mini on the top of the upper black frame of the quadcopter as shown below. We fixed it with a double sided tape and also used a foam base to cushion it as the components are delicate and it must be protected.</li>
                        <img src="https://lh3.googleusercontent.com/1bckktZQH3HxOrhDVTa4bxj8Ha3guciTjH1OOyDhq4uHK5R3aSVgor-88LrDbK0iHs7yjs_bcMwJDHQa3sRrP1HRseorCmh7YhdHrrE1f6Cw1cFQepSyYV3YLb07SAesn22aGwdVMwO1xcgjbS8gfpreBewtexMx-UMJWnMue5wPEkJS9AzQPLAEeOXA2auDhz3PxHBCHOCOb2ykjW7VIagQfgSvb2pe4d2UV-B9ACiD2Ge3R_u8Q0YsUrZ2gFDme2bGH-toBLIl4t2oE3XWD_7aLxDkDur9TiIlPWTJW7WG2s64ACzT6FximZudkDwO5crZgAf0XryTLeNhw4qodT0QeyLJbZfziH8XdE3WwHHagjUw7qU4G75L1_lcpRJhYulax6QK7iLNed3Z1ADywSNLXbCFos94tDr8DDD4BgGOs8C-2wFGibGweiKIOZ0asuatvVdfiYL71yh9rqcLrqSPfdqJlRcgE7CqDN-EkJUV_ABYgJuqymQOGJOpazsTZCgeMxOgvgRrzFTiq1ny7w6Ylvi8KhbpObHqidf1v43ed9KwBGSS0-acHVlPgh-w5dbMb3b9G65mQ42Ex2FPCncQVqon8j12JQ=w687-h915-no" alt="" style="height: 50%; width: 40%">
                        <li style="font-size: 20 !important; margin-bottom: 1px;">Then connect the wires of esc's to the slots on the right side of the screen given on the KK mini (the left ones are for the receiver). Refer to the pictures below.</li>
                        <img src="https://lh3.googleusercontent.com/pjzoY4SOQxR2sVO1TFRJlHmcO2Si9Vu8q77GCAtWNrrVM_evyVvUZ6jU61H0iIjE9L-gthEwIUtDrQ8qsq9c3aq_UVzjjgyUQrJ60QrQfpnZIicbwZi1IipKvOloMkwcFyP0B5QzUDxCim4QkdzWoTO-hl6EYecQmKCSXB5Ji49illfq1IVrq20GDwFDXetfkKjlPCc4khOzAf_Qwq1vL_zbd_jM28mE3h3vvtQp22neKCgjVNR6OnVm4Vc6S6REAmLSqSH-Qq34qxaghHu-0rvgIc7nmtV_MYvRuR6PCILnF0yXjr3BkSqBI4QRwzrE4kb6R0iz7srA_t-8gvdlEUgG1-eMopNDMFxdo1zCgYk4s0VyenIAZNQVabZ826iXTtuNph8ywh2Bko1htiXgViqJV21gJaUtZ7cmwygWSonFE5kNf_7nm3cmtFiZ_vpZWD6HXwz2Fh2mA8gQwUgt6ut-TNMhkh12sQ74sHRehR1_FIqcyKDuKBuMGffXJIv4K0VqNzySuH8bSXVIflG9LDYg6DdLFtzDMG9eYOQ2dYJRiFH3iukbvGWWjY3RHOOSz5sWrbcO4FDuGcYNbqMPKyGioRtlhQz45g=w687-h915-no" alt="" style="height: 50%; width: 40%">
                        <span style="font-size: 20 !important; margin-bottom: 8px;">(Make sure the KK mini is flashed with the latest firmware (which can be found here).</span>
                        <li style="font-size: 20 !important; margin-top: 8px;margin-bottom: 8px;">The link to the components page is <a style="color: #6b6b6b !important" href="/components">here</a>.</li>
                      </ul>
                    </li>
                    <li>
                      <h3 style="margin-top: 45px">Connecting the receiver</h3>
                      <span style="font-size:18 !important; color: #6d6d6d !important">10th October</span>
                      <hr>
                      <ul>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">Place the receiver on an appropriate position on the frame so that the antenna doesn't get damaged by the spinning propellers. Also make sure that it is not too far away from the KK mini as the wires need to reach the ports comfortably.</li>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">The receiver's connections should be connected in such a way the the signal wire should be shared amongst all the four channels (Refer to the pictures below).</li>
                        <img src="https://lh3.googleusercontent.com/zQ0G4TJsoSldWPhz6NmmdFMjc35RVPIbBDfgLN6255EFmxPbBJS53i2UH_qcd93L8Jt2NBG1ieFvAQoITPVjf33xgePmxxPxnx8WmId4GtOGovE7PS7Y1XQcdsGZR80aghABM35uAjWSJ4j9In_PiTTCsO740GOu2oWr-bCjpDzqaFIdSTtqnJbZEbKPdORH8dOYid2NRXbqhzM7ApxSU5ox1s782K5wG3T5Pgk2xqPW5EHcv_-D3RT4q2HK5eR0VQ4SSJovL-LPKMMPETqil4441n7tm0LBDnTITXk5CiHQxTm_GHfKqBF64XMZVB3D14Egnpm1Onp9rNhIjvvBliaBAznTLy3dClOIe-u35QZTrOrQ_GC4YFM57X7wxSSZFuf4x632ZJro0VChWtWAcaCAFaUqCqyo1n8KHg95VJvS0ugpcmDF_AVe1KY4zmDhkFCKYaNTOUIlgGLXOofMRJarVTh_MRZLvmcSTESmMSG2VWkLVoZ-CWIc-Hegt7EA2_ydcIvTITNPUxlg_rSlArARv2iGzkHpcBQKfHV3NgtZqHXHGyjMxTnhbiWqY2iOlVYv7Q85KA-XEZs1U21FXTxZKnScIE-4Nw=w687-h915-no" alt="" style="height: 50%; width: 40%">
                        <img src="https://lh3.googleusercontent.com/ElRfH5odRMYNqJervhpDUmrq6uJn_HvBpc8ST_UIDy52XWAX_Y4SBfw1pICDe6qSM6LeUySKqcN-03zkjSYMzCMr9jpQ8c5CmMK_BMHwFQvonz5acnBHnPkoVYj8XIbcWIObjNhRShSLJ0zBg7EuyGFygGBKJSp9SUWksdAxfFs3lHqL-2oNDV3RfnmjWSfYf1VhIowsSXkOkzUqgnr5rPUOPKlC9lOEBlwiIBQ2t-hjjU-26MyMNJJwKWLW8L662BWklW5-2qPC51rVvXIRi9f6T_KvBTlKObX9pymeh8aAk0jQIJGqQ8wbl1zXaaYFVGsytBkPQZVfxZRTjo8LWSBZxHZf6dBpFwbzNsk_4Ej-iULQeLhowJh9zMpHDNNYuecERaL9mLKExWNy_upyUT5J0JRTx68YRTEEZlYe1D3cFqTAxjuAFpn2tCr8A2SfSMOISm2Zyo2eXI4aKSBaGdRf31e-khdbFhzSrQZXsP-9JGHMl6TXQHz97gyqbbMrMumvLIWhz_mAIK3dPqOWVWeENZqguxhQUm9FgnYX3H4PEeIuaQCypj5A20QbymX00SFHNOG8IMFkBPgnZcr9R89oTGAkZCZt8g=w687-h915-no" alt="" style="height: 50%; width: 40%">
                        <!-- <span style="font-size: 20 !important; margin-bottom: 8px;">(Make sure the KK mini is flashed with the latest firmware (which can be found here).</span> -->
                        <!-- <li style="font-size: 20 !important; margin-top: 8px;margin-bottom: 8px;">The link to the components page is <a style="color: #6b6b6b !important" href="/components">here</a>.</li> -->
                        <li style="font-size: 20 !important; margin-bottom: 1px;">Bind the esc's to the transmitter by connecting each esc singly to the receiver and pressing the bind button on the transmitter till a light beeps up.</li>
                      </ul>
                    </li>
                    <li>
                      <h3 style="margin-top: 45px">Connecting the battery to the distribution board</h3>
                      <span style="font-size:18 !important; color: #6d6d6d !important">10th October</span>
                      <hr>
                      <ul>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">Tape the battery firmly to the body of the quadcopter so that it does not move during flight due to turbulence.</li>
                        <img src="https://lh3.googleusercontent.com/v0XyCfXASyBCoRJ4VQcCW952kcSoodyn3UlNT7Vw6TxOdjY4lwwA3E8GGKRAaWUjLrK9Teri5PCrlkg3Bsd2utOL72muVtk1r1kimQcy5WOMJw2UQIptuE6V15NLEe_XO0kNY_YgE3lSJpgMexWk-g1_YOG--cENx3ApaKifl1XEV48kB5Q4baLi3wcl87R7l7cbDQy9BALJMQaEfjXQe4NoBYB79nLvpKhimYLSotRulBombh47WZTBlAD4MuKaZCoGKg_njIm3O1G20YBgU_qGaJjW5idiva8VZmPb2Ciow99GC_tY7iaSkzVL6_LBH2C4lcAhoIkF_mX6qywOgq0Iqe_33ub9cZ4MnL7TP-n5q-5Y0qGLj5ptMZ8IKwsEneNdYLGmT-tQ8p8gWBpzfAmRRHaKx1BhPkHT6UHVaTnh1YkFqjXaw43m0a35x_wDtFfQOgWGqWe32a8bNgb_8_iqK1Td8zW139SHioNNOXFWCpHHMx8kW8V5sxXIbXd4KY1eLrRij3zwrsD9skRGadpr_CbgQjKxKNNOmDCGhd-Stzn5zrEMqt-zUMHhnrOIBmv0HEUr9-5ZUHl9fy7Duq--_llq16G3Gw=w1220-h915-no" alt="" style="height: 40%; width: 50%">
                        <li style="font-size: 20 !important; margin-bottom: 1px;">Connect the battery to the esc plug which was attached to  the distribution board before.</li>
                        <!-- <span style="font-size: 20 !important; margin-bottom: 8px;">(Make sure the KK mini is flashed with the latest firmware (which can be found here).</span> -->
                        <!-- <li style="font-size: 20 !important; margin-top: 8px;margin-bottom: 8px;">The link to the components page is <a style="color: #6b6b6b !important" href="/components">here</a>.</li> -->
                      </ul>
                    </li>
                    <li>
                      <h3 style="margin-top: 45px">Booting up the quadcopter</h3>
                      <span style="font-size:18 !important; color: #6d6d6d !important">16th October</span>
                      <hr>
                      <ul>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">Connect the battery to the power plug and start-up the KK mini. (Make sure it is flashed with latest firmware which can be found here).</li>
                        <img src="https://lh3.googleusercontent.com/vuYyHi8FEuXrka8WV1jVwWZugyW2GhFgwKB0OJXYknzhsY_qIkvEPpdoREw0c_yDkPz3r_hcdkyi_tf27-MYNnCyZOyITK-6UF-bEwGUWzXWblpEV0dlE1S3ddYCS0mvKQ3Pf2GdjZyMPnU8pIgcRQT5CBUP5smjPxQYiivyl7cXTgS-_H2ySmG7pYBwVZuMeUebi1ZdHljBwoNyatIle7tt5WlwEw7ifG8urRXs4NJbF_pltLd_Z-v9Fa4dq9rCi7IRpwxKy7OhnIC1EKGUbUhkuBSNVIWFjAL9ISlFWFMGVHrRRR7My1QXLAL9DfxfAAyuSkrrG6QFMX2cCYSa-2W3KhMb7ZnYEHUfJRWqOjzyrX402UltfGGbA5eGrOnWPgtMDssb57Halra54QJduWZjwovYuwNHEMDAMJBZ-ZdETZROt4rdpfTj-AdXkp3ISIarX-y58qOLYXdeQHV3jFIvLQrFVIW8PVQ4xyhERDmxCHfeK9vgiVQfNmUSUv3cz1hC9A2q3FIchiTCpr0ySatwxua0MQy9tRyxZVrsrI1TTXnigkUxnMFsjhb_Km_HoUAw9THJ4gyqUB3Afb1Ceus_gqtHRjtfpA=w1220-h915-no" alt="" style="height: 40%; width: 50%">
                        <li style="font-size: 20 !important; margin-bottom: 8px;">Arm the quadcopter. Then calibrate the acclerometer by placing on level ground. </li>
                        <img src="https://lh3.googleusercontent.com/_Le6Csx9-5U-84WDMgGqdqAJp3rlBLTLekoWnQGW-izSKbHVQQcBXNJ-Mv14wx28-Slo3Sq-2aXeWXvjbqSUzZDk1yHMQxiZIPU2VUB3eFRLFqETYREU5PFIHI_0S9_M68xoWzobEVthiGPoAHxwxgPNX8ww-ByraFHWEm76IosucnG_QA8OAhJtZQUHWVbKQUY2gpP3VH8VlPDK-qxoqv1gajAzFZUC1F2iOV4kB9N0Qq_qDK-L_pioj5gXqfRc4af8MmIY2YGPH_RdRQ10dJrnoXtVdRwPsPcWqXta0OK2yBvHu296xenA4AnSvWtUJgUUBI402WQEMlELqjnNK8heCgFLw6idIl7s1dcq71YtvK-FwdKiMPSMVxUuVgm_nBqwieY5HIZ49tI4eVHzZxfQhmOjGTptlf1W_bj9e5GrmmvRI_G173V8FAmfDD_CwEL-lSQk5qi_VJqM-sy57GNgL4-oQ6KO52EciZFrgjvTGbttK4ZTvQAuVD6c8hhw42b6M9DPUNTejIHlHkIhn9rGkk4ogVN_2gjUy03MzyyCpXruxKwXGc1FELtrT0ejf1Jpmzk07xgmSbpk9A2IbJbNdhBdjEdLxw=w1220-h915-no" alt="" style="height: 40%; width: 50%">
                        <!-- <li style="font-size: 20 !important; margin-bottom: 1px;">Arm the quadcopter. Then calibrate the acclerometer by placing on level ground. </li> -->
                        <li style="font-size: 20 !important; margin-bottom: 8px;">Spin the motors and recheck if they are spinning in the correct direction.</li>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">If all goes well, Congrats! You've made your own quadcopter.  </li>
                        <img src="https://lh3.googleusercontent.com/9PmSEFFOiKbCRdgWX9zfTmlQUFyiI3LAjsLcMeVhx35P-Ys7Cyf-r88KK0Y6VKc3V2ApYOqDTW-cqRkyWCSKj23uQQDCG6Ua6mJxGsK95w9r-dLJPpvuK1_HiyvdzFnfKGLP18RScFAKj-wVmAozQwPmQd-UF5iq1vWWpY1kOVVAvUT7aBb73_5EgLwT8kt2A1_hOqFuNaHVjFqBkWMZEzlKBSNZyg1z7fElxtcL8qQi9FScSCsRz4CsFbaqCLvNBIRRy3yLkySLhvanKPBiTFPoXA5nvGV3PtWyNTP5EU5CZl5MYUW5LPolyYjpPFsWbG-tphMtvT-23eiM0CJIUTQZF4M4V8R5F9kgMqZrIquoWUwMACW5UW6GV8InkMCjCPfQoKd3gjy9isKV13gOraVhT17Yfup4Mnk_ODmfOonTXZIcBn1Zj4c7pLSIaR0CgTE5s0qtYQOongXckXCIhu0OzisicFGwU0qsljGizeHLoJ-iKhdnSgDM1vvL1EPJ8JmFuci8vRS59QudhV1M5FIWxMsylEKL-ozpVl556Mz3R4akIuSf2raaaMSKwIYh-BHM3rmveu8jdB69Gm0sI-ScrotVWidM-A=w1220-h915-no" alt="" style="height: 50%; width:60%">
                        <!-- <span style="font-size: 20 !important; margin-bottom: 8px;">(Make sure the KK mini is flashed with the latest firmware (which can be found here).</span> -->
                        <!-- <li style="font-size: 20 !important; margin-top: 8px;margin-bottom: 8px;">The link to the components page is <a style="color: #6b6b6b !important" href="/components">here</a>.</li> -->
                        <!-- <li style="font-size: 20 !important; margin-bottom: 1px;">Bind the esc's to the transmitter by connecting each esc singly to the receiver and pressing the bind button on the transmitter till a light beeps up.</li> -->
                      </ul>
                    </li>
                    <li>
                      <h3 style="margin-top: 45px">Test flight</h3>
                      <span style="font-size:18 !important; color: #6d6d6d !important">Rest of October</span>
                      <hr>
                      <ul style="margin-bottom: 35px;">
                        <li style="font-size: 20 !important; margin-bottom: 8px !important;"> <strong> Quadcopter spinning about its own axis involuntarily.</strong>
                          <ul style="margin-top: 12px;">
                            <li style="font-size: 20 !important; margin-bottom: 8px;">Turns out we had miscorrectly aligned the motors and they were not in accordance with the above picture.</li>
                            <li style="font-size: 20 !important; margin-bottom: 8px;">To invert the direction of motor spin, interchange the red and black wires of the respective motor.</li>
                            <li style="font-size: 20 !important; margin-bottom: 8px;">Upon fixing the motors again and correcting their spin directions, a fairly stable flight was achieved.</li>
                          </ul>
                        </li>
                        <li style="font-size: 20 !important; margin-bottom: 8px;"> <strong>Power abuse of battery</strong>
                          <ul style="margin-top: 12px;">
                            <li style="font-size: 20 !important; margin-bottom: 8px;">The propeller blade we used previously were of 10" and thus they drew out more power than the battery could have delivered safely(This was a previous battery of capacity 2200mAh/20C).</li>
                            <li style="font-size: 20 !important; margin-bottom: 8px;">We had to buy a new battery with a bigger power capcity and coulomb output. Also we bought new blades of 8" to decrease the load on battery.</li>
                            <li style="font-size: 20 !important; margin-bottom: 8px;">Hence it is first recommened to visit <a href="https://www.ecalc.ch/xcoptercalc.php">eCalc</a> and see the compatibility of your components before assembling and using them.</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card shadow rounded" style=" margin-top: 40px; background-color: white !important">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-light collapsed" style="background-color: #5555fc !important;" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5 style=" margin-top: 4px; color: white !important; text-align: justify !important;">November</h5>
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body" style="color: #190487 !important;  background-color: white !important">
                  <ul>
                    <li>
                      <h3 style="margin-top: 45px">First somewhat successful flight!</h3>
                      <span style="font-size:18 !important; color: #6d6d6d !important">5th November</span>
                      <hr>
                      <ul style="margin-bottom: 35px;">
                        <li style="font-size: 20 !important; margin-bottom: 8px;">Our quadcopter completes its first somewhat stable flight successfully.</li>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">There were however still some developments to be made as the flight was not completely stable.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card shadow rounded" style=" margin-top: 40px; background-color: white !important">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-light collapsed" style="background-color: #5555fc !important;" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h5 style=" margin-top: 4px; color: white !important; text-align: justify !important;">January</h5>
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body" style="color: #190487 !important;  background-color: white !important">
                  <ul>
                    <li>
                      <h3 style="margin-top: 45px">Major upgradations</h3>
                      <span style="font-size:18 !important; color: #6d6d6d !important">6th - 21st January</span>
                      <hr>
                      <ul style="margin-bottom: 35px;">
                        <li style="font-size: 20 !important; margin-bottom: 8px;">We researched a bit about how microcontrollers handle flight of a quadcopter and got to know about <a href="/whatIs#pidTuning">PID Tuning</a>.</li>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">The KK mini has settings to change the PID values.</li>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">The next couple of weeks went to experiment and find the best suited PID values for our quadcopter. The trick is to check the response of the quadcopter with respect to your inputs and it should be sufficiently smooth, but not too much smooth.</li>
                      </ul>
                    </li>
                    <li>
                      <h3 style="margin-top: 45px">Caring for the battery.</h3>
                      <span style="font-size:18 !important; color: #6d6d6d !important">28th January</span>
                      <hr>
                      <ul style="margin-bottom: 35px;">
                        <li style="font-size: 20 !important; margin-bottom: 8px;">We noticed that during flight one of the esc's was getting too heated as compared to the other esc's.</li>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">This was because the first esc (connected to the first pin on the socket board in KK Mini) is the one which is used to dissipate heat and regulate the voltage.</li>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">As the battery was much powerful than the previous one the esc was getting worked up more than it should be allowed to. To solve this problem we bought a <a href="https://www.google.co.in/search?q=ubec&rlz=1C1CHBF_enIN764IN764&oq=ubec&aqs=chrome..69i57j0l5.930j0j7&sourceid=chrome&ie=UTF-8">UBEC</a> (external voltage regulator). This uses switching mode of heat dissipation than using just a heat sink and thus is more capable and safer to work with.</li>
                        <img src="https://lh3.googleusercontent.com/P_DElG10gcGLrTIhZDCy-OdURWPXCix0k-6Zyb6KKIHkhRf389UeBJpkl2vIDyXU7ioN9uIjO06joJ0WwsExM6MTYUickv6Rxpkw0RYD7vPqwtT2SJV1wu5zeBOmG5qSYEjZc2u0F1bB02b9s-p_7dEN3kKaE_QYzVCaHH90zPf69zBgGrosQQTk_dlIY6IamL2zPtTwmk17fqyMA8F4rKH47VzNvdfJpR_k9vdssnw-5kCuET498eHM01mqUCtBikyBHBTmNB4g59rwtUpkYMRpydGy0Kr9DniFuCu6erOf6Exd8dXcbgLHMB-uikVoWzBHM3RKmwnBtim3mcnW6yZj1ED7GSMjff12hvVnJFAklNnaTA8yxqIZE7DsAEgYJn7fsNuVMdUUn3pncJmyiFOuqfr07je52I0IRZ8LdHFOdE4nOjmqsajsA2zyP8rCx2FrM08YMGbM5qjVUjgyS8A8xuDgUX51GF7Gc_XVArxhonHFRvC5KNC_EWpfr8peVnd7JS0I7otUm8346V2FCW7CfuzZDALmFVTyde9WmOL242nPo85x5uS0KaPFfrJZlZMCHlSzWZceYRlDz4p2sdQEMEjfbZxtaQ=w1220-h915-no" alt="" style="height: 40%; width: 50%">
                        <li style="font-size: 20 !important; margin-bottom: 8px;">To use the UBEC, remove the wires of the esc from the connector pins and connect the input wire of the UBEC in place of the red (+ve) wire of the esc and then connect to the KK Mini.</li>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">We then had a few more test flights to check if that worked.</li>
                        <li style="font-size: 20 !important; margin-bottom: 8px;">We also recommend to read this <a href="https://rogershobbycenter.com/lipoguide/">article</a> about taking care of LiPo batteries as they have a very high coulomb rate and thus tend to get damaged easily.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card shadow rounded" style=" margin-top: 40px; background-color: white !important">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-light collapsed" style="background-color: #5555fc !important;" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <h5 style=" margin-top: 4px; color: white !important; text-align: justify !important;">February</h5>
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body" style="color: #190487 !important;  background-color: white !important">
                  <ul>
                    <li>
                      <h3 style="margin-top: 45px">Final test flight</h3>
                      <span style="font-size:18 !important; color: #6d6d6d !important">11th February</span>
                      <hr>
                      <ul style="margin-bottom: 35px;">
                        <li style="font-size: 20 !important; margin-bottom: 8px;">The final test flight was successfully done and the quadcopter had a stable flight and we had also eliminated the heating problem.</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        <!-- </div> -->
      </div>
    </div>
  </div>

  <!-- Shit just to make some space -->
  <div style="visibility: hidden;">
    <h4>It starts here</h4>
    <% for(var i=0; i<4; i++){ %>
      <p>
        <h3>tptptp</h3>
      </p>
    <% } %>
  </div>
</div>

<!-- include footer partial -->
<% include \Quadcopter-Project\Quadcopter_web\views\partials\footer %>
