<!-- This is the resources main page -->


<!-- Bootstrap link  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- jQuery link -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <% include \Quadcopter-Project\Quadcopter_web\views\partials\header %>

<div class="backgroundResources p-3 mb-2 bg-gradient-primary"  style="background: linear-gradient(#155799, #159957, #155799); margin-bottom: 0px !important;">
  <div class="container" style="width:60%">
    <div class="jumbotron rounded border border-dark shadow-lg" align="center" style="margin-top: 10px; border-color:#969696 !important;">
      <!-- #0099ff, #0157a3 -->
      <h2 class="Display-3">Resources</h2>
      <hr class="my-4">
        <p>
          <span class="text text-muted" style="font-size: 25;">Welcome to the resources page.</span>
        </p>
    </div>
  </div>

<div class="container" align="center">
  <div class="jumbotron shadow" style="background-color: rgba(255, 255, 255, 0.3); margin-top: 120px; margin-bottom: 180px;">
    <div class="accordion" id="accordionExample" style="text-align: justify !important;">
      <div class="card text-white bg-info shadow rounded" style="margin-top:30px;">
        <div class="card-header" id="headingOne"><h3>Videos</h3></div>
          <div class="card-body">
            <h6 style="margin-bottom:20px;">Watch videos to get an idea of how to assemble, modify, and use a quadcopter.</h6>
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #0073b2 !important">
              <h6 style="margin-top: 5px;">Watch</h6>
            </button>
          </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
          <!-- hulahul///////////////////////////////////////////////////////////// -->
            <div class="card-deck" style="margin:25px;">
              <div class="card bg-light shadow-lg rounded" style="max-width: 18rem; color: #004d77 !important;">
                <div class="card-header">#1</div>
                <div class="card-body">
                  <div class="embed-responsive embed-responsive-16by9" style="margin-bottom:15px;">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/ER2GxMo0X3E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <h5 class="card-title">Building the Quadcopter</h5>
                  <hr class="my-4">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card bg-light shadow-lg rounded" style="max-width: 18rem; color: #004d77 !important;">
                <div class="card-header">#2</div>
                <div class="card-body">
                  <div class="embed-responsive embed-responsive-16by9" style="margin-bottom:15px;">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/qi8qre9FO18" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <h5 class="card-title">Flight Basics</h5>
                  <hr class="my-4">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card bg-light shadow-lg rounded" style="max-width: 18rem; color: #004d77 !important;">
                <div class="card-header">#3</div>
                <div class="card-body">
                  <div class="embed-responsive embed-responsive-16by9" style="margin-bottom:15px;">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/f3dZMELsvxA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <h5 class="card-title">Calibration</h5>
                  <hr class="my-4">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-white bg-info shadow rounded" style="margin-top:30px;">
        <div class="card-header" id="headingTwo"><h3>Firmwares & Softwares</h3></div>
          <div class="card-body">
            <h6 style="margin-bottom:20px;">Get the firmware and software for various components that we have used.</h6>
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="color: #0073b2 !important">
              <h6 style="margin-top: 5px;">View</h6>
            </button>
          </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="card-deck" style="color: #004d77 !important;">
              <div class="card rounded shadow" style="color:">
                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">Steveis firmware</h5>
                  <hr class="my-4">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <a href="" onclick="window.open('https://www.rcgroups.com/forums/showatt.php?s=f219a852a3f216efb65639f86e21a97d&attachmentid=6352548&d=1387725659', '_blank')" class="btn btn-info" role="button" style="width:100%">Download</a>
                </div>
              </div>
              <div class="card rounded shadow" style="color:">
                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">Simonk firmware</h5>
                  <hr class="my-4">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <a href="" onclick="window.open('https://github.com/sim-/tgy.git', '_blank')" class="btn btn-info" role="button" style="width:100%">Download</a>
                </div>
              </div>
              <div class="card rounded shadow" style="color:">
                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">Calibration software</h5>
                  <hr class="my-4">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <a href="" onclick="window.open('http://e.informer.com/rcyachts.com/KitInfo%2FT6Confg%2FT6Config.htm', '_blank')" class="btn btn-info" role="button" style="width:100%">Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      <div class="card text-white bg-info shadow rounded" style="margin-top:30px;">
        <div class="card-header" id="headingThree"><h3>Articles</h3></div>
          <div class="card-body">
            <h6 style="margin-bottom:20px;">Read the research papers and articles that helped and inspired us to build our own quadcopter.</h6>
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" style="color: #0073b2 !important">
              <h6 style="margin-top: 5px;">View</h6>
            </button>
          </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

</div>
  <!-- include footer partial -->
  <% include \Quadcopter-Project\Quadcopter_web\views\partials\footer %>
