<!-- what is a quadcopter page -->

<!-- Bootstrap link  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- jQuery link -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


<!-- include header partial -->
<% include \Quadcopter-Project\Quadcopter_web\views\partials\header %>

<!-- include a navbar for what and why pages -->
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-bottom sticky-top shadow border" style="background-color:#efefef !important; border-color:#a5a5a5 !important;">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav py-0">
      <li class="nav-item">
      <a class="nav-link py-0" href="/whatIs"><button class="btn btn-outline-secondary" type="button" style="margin-left:50px; margin-right:50px;">What?</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-0" href="/whyIs"><button class="btn btn-outline-secondary" type="button">Why?</button></a>
      </li>
    </ul>
  </div>
</nav>

<style media="screen">
  .backgroundWhy{
    /* background-image: url("https://lh3.googleusercontent.com/sEsJ73CD0_329xBO-9rSN1MG4AC1bVU-AlXnpA2hndMunqIaKD6z70PucyCQ_VavFWKGNoO98NcnSfc8x1q3Mu-U4LXQRcdQYyGidqZW0tmRvzICCX7MXN6wvjM77_87TEpMvUtF6Jb8-JDAGTGcbvbfKwQ8v-MZrgBUMYxLsb9S2ZjHf04uVeD867kAc1TIU-BrJbVz7THadrX-F4kXl3L_v4pzHstjL7ytUxc61SgQPH2yQOnBaJBeT3T0Ru9I7p35PY1d0plBj_3MLNqBRctuTMBeROoAOMWrGBa6JOmtprEMHnqXcinZT1xaYYWL_MmAAze4JqA1FLTgbWChcdQl22Eu7O6SRYyEXmYjZczpr66IvjUsXhD53Xp8I705N1Ueg51byzXayFFrfYTtAuf5j25Dr4s8DnS-Tv3CVLfOkbRHF-IsX6nO2ojgTTfLX539aeOcYLrTdM6j1pFPBJhi-ZoNKh4pSG3cqqzxYThwSmgTr062FpmBqWMr5pEAqOCpuUAke_4f03rlIzN8fFwVR_w9C8FqrM6N8_j9t0z7yIR010n2KENbsPPVtCc688Xuo4mRxrhCHrDksAZa8EVm-aVhPdQY_w=w959-h540-no"); */
    background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6);
    background-repeat: no-repeat;
    background-position: relative;
    overflow: auto;
    background-size: 100%;
    background-attachment: scroll;
  }
</style>

<div class="backgroundWhy">
  <!-- MAIN CONTENT -->
  <div class="container" align="center">
    <div class="jumbotron rounded shadow-lg" style="margin:10px; width:80%">
      <h4 class="Display-4 text text-muted">Why we chose</h4>
      <h4 class="Display-4 text text-muted">to build a</h4>
      <hr class="my-4">
      <h4 class="Display-3">Quadcopter</h4>
    </div>
  </div>

  <div class="container" align="center">
    <div class="jumbotron rounded shadow-lg border" style="margin-top: 100px; border-color: #969696 !important; background-color: white !important; color: #004982 !important; text-align: justify;">
      <ul style="margin-left: 40px; margin-right: 55px;">
        <li style="margin-bottom: 30px !important;">
          <h4>What made us decide on building a quadcopter as a project?</h4>
          <p>
            <h5 style="font-weight: 15;">We chose to build a quadcopter because we were intrigued by the idea and genuinely felt that we should be working on something amazing. We were inspired to make our own quadcopter and then improvise it in the future.</h5>
          </p>
        </li>
        <li style="margin-bottom: 30px !important;">
          <h4>Where are quadcopters used?</h4>
          <p>
            <h5 style="font-weight: 15;">Quads are the upcoming and trending technology in today’s world and with automation taking over, they might find more applications in the future. People have actually discovered lots of useful applications for modern-day drones. Aside from their usage for military operations, intelligence and monitoring, they also have the potential of being employed in many other areas, for example logistics and transportation of small items, photography and filming, and assisting construction workers.</h5>
          </p>
        </li>
        <li style="margin-bottom: 30px !important;">
          <h4>Which organizations in India use Quadcopter?</h4>
          <p>
            <h5 style="font-weight: 15;">
               In India, Quadcopter development is rapidly growing because of the versatility of quadcopters in their usage. From defence and surveillance to recreation and hobbies, quads are found everywhere. Some of the best examples of Quadcopter developments in India are :
               <ul style="margin-top: 20px;">
                 <li style="margin: 10px;"><a href="https://en.wikipedia.org/wiki/DRDO_Netra"><span style="font-weight: 600 !important">DRDO Netra</span></a>
                   <p style="margin-top: 10px;">
                     The DRDO Netra is an Indian, light-weight, autonomous UAV for surveillance and reconnaissance operations.
                   </p>
                 </li>
                 <li style="margin: 10px;"><a href="http://www.ideaforge.co.in/home/"><span style="font-weight: 600 !important">ideaForge</span></a>
                   <p style="margin-top: 10px;">
                    The company is the pioneer in Unmanned Aerial Systems segment in India, developing class-leading, indigenous UAVs for surveillance, reconnaissance, imagery and industrial applications.
                   </p>
                 </li>
                 <li style="margin: 10px;"><a href="http://aurora-is.com/"><span style="font-weight: 600 !important">Aurora Integrated Systems</span></a>
                   <p style="margin-top: 10px;">
                     Aurora Integrated Systems is the lead system integrator in India, offering field tested UAS technology. Our systems encompass short range SUAVs to long range tactical systems, rapidly deployable Aerostat Systems, and technologies in Inertial Navigation.
                   </p>
                 </li>
                 <li style="margin: 10px;"><a href="http://www.aerizone.com/"><span style="font-weight: 600 !important">Aerizone</span></a>
                   <p style="margin-top: 10px;">
                     Aerizone is an India based global platform for Drone services, UAV training, information & live discussions related to Drones. Intending to connect all the drone enthusiasts globally. Providing Drones with UAV pilots for service on demand all over India Aerizone aspire to be “Uber of Drones”!
                   </p>
                 </li>
                 <li style="margin: 10px;"><a href="http://airpix.in/"><span style="font-weight: 600 !important">AIRPIX</span></a>
                   <p style="margin-top: 10px;">
                     AIRPIX is a leading drone solutions provider in India. Airpix provides data processing and analytics solutions derived from unmanned aerial vehicles or drones and has paying customers across across various industries (government planning bodies, mining, oil and gas, railways, roads, agriculture, wind and solar power, and more).
                   </p>
                 </li>
                 <li style="margin: 10px;"><a href="https://skylarkdrones.com/"><span style="font-weight: 600 !important">Skylark Drones</span></a>
                   <p style="margin-top: 10px;">
                     Skylark Drones is a technology start-up in the unmanned aerial vehicles (UAV) industry started in the year 2014 by Mrinal Pai and Mughilan Thiru Ramasamy. They have built drones that offer two services - DroneVertising (drone based advertising) and DroneVision (bird's eye view for any event or terrain).
                   </p>
                 </li>
               </ul>
            </h5>
          </p>
        </li>
        <li style="margin-bottom: 30px !important;">
          <h4>Why does the quadcopter industry have such a great potential ?</h4>
          <p><h5 style="font-weight: 15;">Drones are a very versatile piece of technology and they can be used for a variety of applications. Logistics companies, for example, depend upon fast, reliable meanings of transportation that are cheap and accessible, and for that, drones will probably play a meaningful role in the future. Some of the examples are :</h5></p>
          <p style="margin-top: 10px;">
            <ul>
              <li style="margin: 10px;">
                <p>
                  <a href="https://timesofindia.indiatimes.com/city/kolkata/drone-delivery-of-your-favourite-food-soon/articleshow/64394650.cms"><h5><span style="font-weight: 600 !important">Food and medicine delivery.</span></h5></a>
                </p>
              </li>
              <li style="margin: 10px;">
                <p>
                  <a href="https://economictimes.indiatimes.com/industry/transportation/railways/iit-roorkee-is-developing-drones-to-make-your-train-journey-safer/articleshow/64703450.cms"><h5><span style="font-weight: 600 !important">Indian railways to use drones for safe travelling.</span></h5></a>
                </p>
              </li>
              <li style="margin: 10px;">
                <p>
                  <a href="https://asia.nikkei.com/Economy/Deploying-drones-Japanese-government-hurries-flood-recovery"><h5><span style="font-weight: 600 !important">Japanese government use drones to accelerate flood relief operations.</span></h5></a>
                </p>
              </li>
              <li style="margin: 10px;">
                <p>
                  <a href="https://www.theverge.com/2018/1/18/16904802/drone-rescue-australia-video-ocean"><h5><span style="font-weight: 600 !important">Drones are used to help coastguards.</span></h5></a>
                </p>
              </li>
              <li style="margin: 10px;">
                <p>
                  <a href="https://factordaily.com/drones-for-precision-agriculture-in-india/"><h5><span style="font-weight: 600 !important">Drones are used to facilitate agriculture and survey the nearby lands.</span></h5></a>
                </p>
              </li>
            </ul>
          </p>
        </li>
      </ul>
    </div>
  </div>


  <!-- Shit just to make some space -->
  <div style="visibility: hidden;">
    It starts here
    <% for(var i=0; i<17; i++){ %>
        <h5>tptptp</h5>
    <% } %>
  </div>
  </div>
</div>

<!-- include footer partial -->
<% include \Quadcopter-Project\Quadcopter_web\views\partials\footer %>
